.DS_Store
*.DS_Store
**/.DS_Store
**/*.DS_Store
5001-vm/lab3/~$raj Mandal.docx
**/*.pub
*.pub
.pub
5001-vm/Docker_Key.pem
5005-pm/lab2&3/General Project Management Plan.mproject/~$bookmark.nosync
5004-db/lab4/~$raj Mandal.docx
.gitignore
.gitignore
*~$*
**/*~$*
5003-ap/lab5/.env
