capstone/@documents/Suraj[[:space:]]Mandal[[:space:]]Intro[[:space:]]Video.mov filter=lfs diff=lfs merge=lfs -text
capstone/@documents/Suraj/[[:space:]]Mandal/[[:space:]]Intro/[[:space:]]Video.mov filter=lfs diff=lfs merge=lfs -text
capstone/@documents/*.mov filter=lfs diff=lfs merge=lfs -text
